.footer {
  position: relative;
  background: linear-gradient(135deg, #1f2937, #111827);
  color: white;
  padding: 3rem 1rem;
  margin-top: 3rem;
  bottom: 0px;
  width: 80%;
}

.footer-container {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 2rem;
  align-items: center;
}

.footer-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3b82f6;
}

.footer-info h2 {
  margin: 0;
  font-size: 1.8rem;
}

.role {
  color: #60a5fa;
  margin-bottom: 0.5rem;
}

.description {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a {
  text-decoration: none;
  color: white;
  background: #3b82f6;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: 0.3s;
}

.socials a:hover {
  background: #2563eb;
  transform: translateY(-3px);
}

@media (max-width: 660px){
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}